.modal__content_type_img {
  max-width: 496px;
  width: 100%;
  min-height: 436px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 28px 28px 36px;
  padding: 0;
  overflow: hidden;
}

.modal__img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 12px;
  margin: 0;
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  padding-left: 32px;
  padding-bottom: 32px;
  margin: 0;
}

.modal__delete-btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  border: none;
  background: none;
  padding-right: 33.56px;
  padding-left: 0;
  position: absolute;
  right: 0;
  color: #ff4d00;
  height: 13.62px;
}
